.cart {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.5),
      rgba(137, 43, 226, 0.5)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1678728446/Assets/shopping_i25vtv.jpg");
  background-size: cover;
  background-position: center center;
}

.carrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 50px;
}

.title {
  display: flex;
  justify-content: center;
}

.tarjeta-producto {
  padding: 5px;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  box-shadow: 3px 3px 3px 1px #0000004b;
  background-color: rgb(221, 221, 221);
}

.imagen-producto {
  height: 190px;
  width: 125px;
}

.detalle-producto {
  padding-left: 10px;
}

.descripcion-carrito {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px;
}

.no-items-img {
  height: 400px;
  width: 500px;
}

@media (max-width: 480px) {
  .carrito {
    flex-direction: column;
    align-items: center;
  }

  .no-items-img {
    height: 300px;
    width: 400px;
  }

  .products {
    margin: 10px;
  }

  .descripcion-carrito {
    margin: 10px;
  }

  .tarjeta-producto {
    height: 220px;
    width: 350px;
  }

  .product-title {
    font-size: 20px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .cart {
    min-height: 800px;
  }

  .carrito {
    flex-direction: column;
    align-items: center;
  }

  .descripcion-carrito {
    margin: 10px;
    margin-bottom: 100px;
  }

  .products {
    margin: 10px;
  }
}
