.detalle {
  width: 950px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(221, 221, 221);
  box-shadow: 3px 3px 3px 1px #0000004b;
}

.imagen {
  width: 300px;
  height: 450px;
}

.info {
  width: 600px;
  padding-left: 10px;
}

.nombre {
  padding-bottom: 10px;
}

.stock {
  padding-bottom: 20px;
}

.agotado {
  font-size: 25px;
  color: rgb(150, 0, 0);
}

@media (max-width: 480px) {
  .detalle {
    width: 300px;
    height: 750px;
    flex-direction: column;
  }

  .imagen {
    width: 150px;
    height: 200px;
    margin-left: 20px;
  }

  .info {
    width: 250px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .detalle {
    width: 580px;
    height: 550px;
  }

  .imagen {
    width: 200px;
    height: 270px;
    margin-left: 20px;
  }

  .info {
    width: 300px;
  }
}
