.item-detail {
  height: 450px;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5),
      rgba(137, 43, 226, 0.5)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1678729755/Assets/libro_k6mxom.jpg");
  background-size: cover;
  background-position: center center;
}

.boton-volver {
  width: 150px;
  height: 50px;
}

@media (max-width: 480px) {
  .item-detail {
    height: 800px;
    padding: 10px;
  }

  .boton-volver {
    width: 100px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .item-detail {
    padding: 20px;
    height: 700px;
  }

  .boton-volver {
    width: 120px;
  }
}
