.aclaracion {
  font-size: 12px;
  margin: 0;
}

.autor-titulo {
  margin: 0;
}

.img-container {
  width: 200px;
  height: 180px;
  background-image: url("https://res.cloudinary.com/drdgu83bp/image/upload/v1680029228/Assets/hermann_hesse_d3bvks.jpg");
  background-size: cover;
  background-position: center center;
  margin-bottom: 35px;
  margin-top: 10px;
}

.frase {
  font-size: 20px;
  font-style: italic;
}

.articulo {
  background-color: #892be2af;
  padding-left: 5px;
  box-shadow: 3px 3px 3px 1px #0000004b;
}

@media (max-width: 480px) {
  .img-container {
    display: none;
  }

  .articulo {
    width: 110px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .articulo {
    width: 200px;
  }

  .img-container {
    width: 180px;
    height: 170px;
    margin-bottom: 20px;
  }
}
