.item-list {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(137, 43, 226, 0.5)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1678727441/Assets/fondo2_b3k9lx.jpg");
  background-size: cover;
  background-position: center center;
}
