.img-producto {
  height: 190px;
  width: 145px;
}

.grid-item {
  width: 200px;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 10px;
}

.boton-detalles {
  position: relative;
  top: 10px;
}

.libro-titulo {
  font-size: 15px;
}

.libro-detalles {
  font-size: 12px;
}

@media (max-width: 480px) {
  .img-producto {
    height: 160px;
    width: 110px;
  }

  .grid-item {
    width: 140px;
  }
}
