.grid-product-container {
  height: 370px;
  width: 100%;
  margin-bottom: 2px;
}

.img-producto {
  height: 190px;
  width: 145px;
}

.grid-item {
  width: 200px;
}

.boton-detalles {
  position: relative;
  top: 10px;
}

.libro-titulo {
  font-size: 15px;
  width: 100px;
}

.libro-detalles {
  font-size: 12px;
}

@media (max-width: 480px) {
  .img-producto {
    height: 160px;
    width: 110px;
  }

  .grid-item {
    width: 250px;
    margin-left: 20px;
  }

  .grid-product-container {
    height: 200px;
  }
}
