.mini-card {
  height: 200px;
  width: 100%;
  margin-bottom: 2px;
}

.card-box {
  width: 300px;
}

@media (max-width: 480px) {
  .mini-card {
    height: 180px;
  }

  .card-box {
    width: 220px;
  }
}
