.home {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      hsla(271, 76%, 53%, 0.502)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1678727441/Assets/fondo2_b3k9lx.jpg");
  background-size: cover;
  background-position: center center;
}

.paper-body {
  margin-top: 30px;
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mas-vendidos {
  font-size: 35px;
}
