.contact-container {
  height: 600px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(137, 43, 226, 0.5)
    ),
    url("https://res.cloudinary.com/drdgu83bp/image/upload/v1678727441/Assets/fondo2_b3k9lx.jpg");
  background-size: cover;
  background-position: center center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 400px;
  background-color: rgba(235, 234, 234, 0.856);
  box-shadow: 3px 3px 3px 1px #0000004b;
  border-radius: 5px;
  padding-top: 30px;
}

@media (max-width: 480px) {
  .contact-content {
    width: 400px;
  }

  .contact-container {
    height: 500px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .contact-content {
    width: 500px;
  }
}

.icono {
  width: 50px;
  height: 50px;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.contact-text {
  margin-left: 20px;
  margin-bottom: 40px;
}
