.cabecera {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  background-color: #8a2be2;
}

.logo {
  font-family: "Bebas Neue", cursive;
}

.the {
  height: 70px;
  color: black;
  margin: 0;
  font-size: 70px;
}

.subtitulo {
  margin: 0;
  color: white;
  font-size: 40px;
}

.botones {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 480px) {
  .the {
    height: 40px;
    font-size: 40px;
  }

  .subtitulo {
    font-size: 20px;
  }
}
