.sidebar {
  width: 300px;
  height: 900px;
  background-color: rgba(221, 221, 221, 0.767);
  margin-right: 30px;
  padding-top: 20px;
  padding-left: 10px;
}

.acordeon {
  width: 200px;
}

.tipografia {
  font-family: Roboto Condensed, sans-serif;
  font-size: 20px;
}

.categorias {
  font-family: Roboto Condensed, sans-serif;
  font-size: 18px;
}

.lista-categorias {
  list-style: none;
  padding: 0;
}

.titulo-catalogo {
  font-size: 30px;
  color: blueviolet;
}

li {
  padding-bottom: 5px;
}

@media (max-width: 480px) {
  .sidebar {
    width: 100px;
    margin-right: 0;
    padding-top: 10px;
    padding-left: 5px;
  }

  .titulo-catalogo {
    font-size: 20px;
  }

  .acordeon {
    width: 100px;
  }

  .tipografia {
    font-size: 12px;
  }

  .categorias {
    font-size: 12px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .sidebar {
    width: 200px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 5px;
  }
}
